[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
pydantic = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
